.modal {
    //display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-container {
    position: fixed;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 0;
    border: 1px solid #888;
    min-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    left: 40%;
    overflow: hidden;
}

.modal-header {
    padding: 10px 16px;
    background-color: #fff;
    color: black;
}

.modal-body {
    padding: 20px 0;
    text-align: left;
    border-bottom: 1px solid;
    margin: auto 20px;
    div {
        height: 45px;
        display: flex;
    }
    i {
        text-align: center;
        font-size: 20px;
        color: grey;
        height: 25px;
        width: 30px;
        padding-top: 5px;
        &:hover {
            background-color: rgba(60, 64, 67, 0.08);
            outline: none;
            border-radius: 50px;

        }
    }
    
    .newLabelInputbox, .updateLabelInputBox, span {
        border: none;
        border-radius: 20px;
        margin: 0 10px;
        font-size: 14px;
        height: 30px;
        font-weight: 500;
        &:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid lightslategray;
        }
        width: auto;
    }

    .updateLabelInputBox {
        border-radius: 0;
    }
}

/* Modal Footer */
.modal-footer {
    padding: 10px 16px;
    background-color: #fff;
    color: white;
    text-align: end;
  }
@keyframes animatetop {
    from {bottom: -40%; opacity: 0}
    to {bottom: 40%; opacity: 1}
}

.no-style {
    border: none;
    outline: none;
    background-color: none;
    background: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 50px;
    &:hover {
        background-color:rgba(95,99,104,0.070);
        background:rgba(95,99,104,0.070);
    }
    &:active {
        background-color:rgba(95,99,104,0.161);
        background:rgba(95,99,104,0.161);
    }
}
